/* Include Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --off-white: #FEF8E7;
    --burgundy: #8e2d2d;
    --bg-brown: #b6947c;
    --text-color: black;
    --calamine: #e2d0ca;
    --typewriterSpeed: .7s;

}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

body{
    background: var(--off-white);
    color: var(--text-color);
}

.header-col-1{
    margin-top: 20%;
    flex-basis: 40%;
}
.header-col-2{
    margin-top: 15%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bubble{
    background: url(images/headshot2.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    height: 350px;
    width: 350px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,.2);
    animation: bubble-animation 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes bubble-animation{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.line-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg{
    display: inline-block;
    height: 100%;
}


#header{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
}


.container{
    padding: 10px 5%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-brown);
    width: 100%;
    height: 60px;
    transition: all 0.5s ease-in-out;
    flex-wrap: wrap;
    
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}

nav ul li a{
    color: var(--off-white);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: font-size 0.5s;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--off-white);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a.active{
    font-size:20px;
    color: var(--burgundy);
}

.scroll-down nav {
    transform: translate3d(0, -100%, 0);
}

.logo{
    font-size: 25px;
    color: ghostwhite;
    text-decoration: none;
    margin-left: 5%;
    transition: transform 0.5s;
}
.logo a{
    color: ghostwhite;
    text-decoration: none;

}

.logo:hover{
    /* color: var(--burgundy); */
    transform: translateY(-5px);
    transform: scale(1.15);
    cursor: pointer;
 }

.header-text{
    margin-bottom: 5px;
    margin-left: 30px;
}
.header-text h1{
   font-size: 50px;
   margin-bottom: 10px;
   color: var(--burgundy);
   /* opacity: 0; */
   /* transform: translateY(25rem); */
   /* animation: fadeInUp 1.5s ease 2s forwards; */
   width: max-content;
   font-family: "Source Code Pro", monospace;
   position: relative;
}
.header-text h1::before,
.header-text h1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-text h1::before {
    background: var(--off-white);
    animation: typewriter var(--typewriterSpeed) steps(13) 1.2s forwards;
}
.header-text h1::after {
    width: 0.125em;
    background: var(--off-white);
    animation: 
        show 1ms 1.2s forwards,
        blink 1s steps(2, start) 1.2s infinite,
        typewriter var(--typewriterSpeed) steps(13) 1.2s forwards,
        hide 1ms 5s forwards;
        
}
.header-text h2{
    font-size: 35px;
    margin-top: 20px;
    position: relative;
    width: max-content;
    font-family: "Source Code Pro", monospace;
}
.header-text h2::before,
.header-text h2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-text h2::before {
    background: var(--off-white);
    animation: typewriter var(--typewriterSpeed) steps(14) .5s forwards;
}
.header-text h2::after {
    width: 0.125em;
    background: black;
    animation: 
        blink 1s steps(2, start) infinite,
        typewriter var(--typewriterSpeed) steps(14) .5s forwards,
        hide 1ms 1.2s forwards;

}
.header-text p{
    opacity: 0;
    transform: translateX(-3rem);
    animation: fadeInRight .8s ease 1.75s forwards;
 }
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes hide {
    to {
        opacity: 0%;
    }
}
@keyframes blink {
    to {
        visibility:hidden;
    }
}
@keyframes show {
    to {
        background:var(--burgundy);
    }
}

@keyframes fadeInRight{
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/*------------------------------------------------ ABOUT ------------------------------------------------*/

#about{
    padding: 80px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 2px var(--bg-brown);

}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: var(--burgundy);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--burgundy);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}


.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}
.tab-contents ul li span{
    color: var(--burgundy);
    font-size: 18px;
}

.tab-contents{
    display: none;
}
    
.tab-contents.active-tab{
    display: block;
}

/*------------------------------------------------ PROJECTS ------------------------------------------------*/
#projects{
    padding: 50px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block; 
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: rgba(90, 23, 23, 0.9);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: var(--off-white);
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--off-white);
}


.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}

/*------------------------------------------------ CONTACT ------------------------------------------------*/
.contact-left {
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:var(--burgundy);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 15px;
}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: var(--burgundy);
   transform: translateY(-5px);
}
.submit-btn{
    display: inline-block;
    margin: 20px auto;
    width: fit-content;
    border: 2px solid var(--burgundy);
    padding: 14px 50px;
    background:rgb(181, 27, 27);
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.submit-btn:hover{
    background:rgb(124, 17, 17);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    outline: none;
    background: #efe1d6;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid var(--bg-brown);
}

/*------------------------------------------------ COPYRIGHT ------------------------------------------------*/

.copyright-footer{
    margin-top: 100px;
    width: 100vw;
    background: var(--bg-brown);
    height: 60px;
}
.copyright-footer center{
    color: var(--off-white);
    padding: 20px 20px;
}

/*------------------------------------------------ SMALL SCREENS CSS ------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .header-text h1{
        font-size: 35px;
    
    }
    .header-text h2{
        margin-top: 100%;
        font-size: 20px;
        
    }
    
    .header-text p{
        font-size: 16px;
    }

    nav .logo{
        display: none;
        
    }

    nav ul li a{
        font-size: 11px;
    }
    nav ul li a.active{
        font-size: 14px;
    }
   
    .subtitle{
        font-size: 40px;
    }
    .about-col-1,
    .about-col-2{
        flex-basis: 100%;
    }
    .header-col-1,
    .header-col-2{
        flex-basis: 100%;
    }

    .header-col-1{
        margin-bottom: 30px;
    }
    
    .about-col-1{
        margin-bottom: 30px;
        margin-top: 250px;
    }
    .about-col-2{
        font-size: 12px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .copyright-footer{
        font-size: 14px;
    }

    
}