.svg-container {
  display: flex;
  justify-content: center;
  height: 100vh; 
  position: absolute; 
  right: -50%; 
  top: 0; 
  width: auto; 

  @media (max-width: 1000px) { 
    display: none;
  }
}

.thread {
  stroke-width: 1;
  margin-top: 320px; 
}
