.cork-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  min-height: 600px; // Adjust this value based on your blob size

  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.blob-container {
  flex: 1 1 30%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* To position text within the blob */

  svg {
    width: 100%;
    height: 200%; /* Make the blob 200% taller */
    max-width: 400px;  /* Set a maximum width */
  }

  .blob-title {
    position: absolute;
    top: 30%; /* Adjust top position relative to the new height */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
  }

  .blob-points {
    position: absolute;
    top: 40%; /* Adjust to a position relative to the new blob height */
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      font-size: 1rem;
      color: white;
      line-height: 1.5rem;
    }
  }
}
