
.line {
  stroke: black;
}

.ball {
  background-color: white;
}

  
  .card-wrapper {
    position: relative;
    width: 255px;
    height: 255px;
    margin-bottom: 20px; 

    .card-border {
      position: absolute;
      top: 0;
      left: 0;
      border: 3px solid black;
      filter: url(#wavy);
      width: 250px;
      height: 250px;
    }

    .card {
      position: relative;
      top: 2px;
      left: 2px;
      width: 254px;
      height: 254px;
      background-color: rgb(239, 235, 184);
      display: flex;
      justify-content: center;

      .card-content {
        text-align: center;
        width: 100%;
        padding: 50px 35px;

        .card-title {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 25px;
        }

        .card-points {
          list-style-type: disc;
          padding-left: 20px;
          text-align: left;

          li {
            font-size: 1rem;
            margin-bottom: 5px;
          }
        }
      }
    
      .card-hole {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: rgb(55, 55, 55);
        border-radius: 50%;
      }
    }
  }


// }
