.header-section {
  position: relative;

  h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    font-family: witless;
    color: rgb(46, 62, 46);
    text-transform: uppercase;
    opacity: 0;
    animation: popUp 0.5s ease-out forwards 0.2s;
  }

  @keyframes popUp {
    0% {
      transform: translateY(25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  p {
    font-size: 20px;
    line-height: 1.12;
    opacity: 0;
    animation: popUp 0.5s ease-out forwards 0.4s;
  }
}

.logo-container {
  opacity: 0;
  animation: popUp 0.4s ease-out forwards 0.95s;
}

.logo {
  height: 50px;
  margin-right: 15px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.logo:hover {
  transform: translateY(-5px) scale(1.05);
}

.col-table {
  display: flex;
}


.col-1 {
  flex-basis: 50%;
  margin-right: 250px;
  position: relative;
}

.col-2 {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frog-scene {
  position: relative;
  width: min(50vw, 500px);
  height: 65vh;
  overflow: visible;
}

.saul-block {
  position: absolute;
  inset: 0;
  background: #d9782b;

  clip-path: polygon(
    3% 2%,
    16% 0%,
    35% 4%,
    58% 1%,
    83% 3%,
    97% 7%,
    100% 22%,
    98% 42%,
    100% 66%,
    96% 84%,
    92% 97%,
    70% 99%,
    48% 96%,
    25% 100%,
    7% 95%,
    2% 78%,
    0% 55%,
    2% 32%,
    0% 14%
  );

  filter: url(#wavy);
}

.cliff-wrapper {
  position: absolute;
  width: clamp(220px, 50vw, 500px);
  height: clamp(420px, 75vh, 900px);
  right: -8vw;
  top: clamp(40px, 6vh, 100px);
  overflow: visible;
}

.beet-creature {
  position: absolute;
  width: 120px;
  height: 120px;

  top: -75px;
  left: 20px;

  z-index: 5;
}

.beet-creature {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -75px;
  left: 20px;
  z-index: 5;
}

.beet-creature svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.beet-layer path {
  fill: none;
  

  visibility: hidden; // important
}


.landing-bar {
  position: absolute;
  top: calc(100% + 61px);
  left: -1200px;

  width: 900px;
  height: 70px;
  background: rgb(46, 62, 46);

  transform: rotate(-10deg);
  z-index: 2;
}

.beet-creature {
  transform-origin: center bottom;
}

.active-layer {
  opacity: 1;
}

.hidden-layer {
  opacity: 0;
}

.beet-layer {
  position: absolute;
  inset: 0;
}