// .navbar{
//     display: flex;
//     justify-content: space-between;
//     padding: 50px 0;
//     font-size: 24px;
//     letter-spacing: 1px;
//     font-family: 'Syncopate', sans-serif;
//     color: #464646;
//     font-weight: 600;
//     text-transform: uppercase;
// }
$bg-color: #f5f1ed;

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-color;
    width: 98%;
    height: 90px;
    transition: all 0.7s ease-in-out;
    flex-wrap: wrap;
    padding: 0 3vw;
    
}
.menu-toggle {
    height: 100px;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
}

.navbar ul li a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-transform: lowercase;
    color: black;
    transition: font-size 0.5s;
}
 
.navbar ul li a.active{
    color: black;
}
