.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;

  .gallery-viewport {
    overflow: hidden; 
    padding: 10px 0;
    width: 90%;
    max-width: 1200px;
    height: 50%;
  }

  .gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    gap: 60px;

  }

  .next-arrow {
    position: absolute;
    right: 0;
    top: 49%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #4b4b4b;
    transition: transform 0.2s ease-in, color 0.4s ease-in;

    &:hover {
      transform: scale(1.2);
      color: #121212;
    }
    &.right {
      right: 0;
      animation: rotateToRight 0.8s forwards; 
    }

    &.left {
      right: 0;
      animation: rotateToLeft 0.8s forwards; 
    }
  }
}

@keyframes rotateToRight {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes rotateToLeft {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
