.project-detail {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  
    // Button styling for going back to the gallery
    button {
      background-color: black;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 0;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #6d6d6d;
      }
    }
  
    // Title styling
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #333;
      font-family: grunge;
    }
  
    // Image styling
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    // Description styling
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #555;
      margin-top: 20px;
    }
  
    // Tags container styling
    .project-tag {
      display: inline-block;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 5px;
      color: white;
      font-size: 1.25rem;
    }
    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  