
  


  .project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Dim the background
    cursor: pointer;
  }

  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 10px;

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: black;

      &:hover {
        color: red;
      }
    }

    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
     
          color: #333;
          font-family: grunge;
      }

      .project-tag {
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        color: white;
        font-size: 1.25rem;
      }
    }

        // Image styling
        .project-image-wrapper {
          position: relative;
        }
        
        .project-image {
          max-height: 550px;
          border-radius: 8px;
          position: relative;
          width: 100%;
          object-fit: cover;
          z-index: 0;
        }
        
        .project-image-wrapper::before {
          content: '';
          position: absolute;
          top: -4px; /* Match the size of the border */
          left: 0px;
          right: 0px;
          bottom: 0px;
          border-radius: 8px;
          border: 5px solid black; /* Recreate the border */
          filter: url(#wavy); /* Apply the distortion filter to this pseudo-element */
          z-index: 1;
        }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #555;
    }
  }
}
